<div class="label">
	<span>Caixas Fechados</span>
</div>

<div class="container-big">
	<input type="text" id="search" placeholder="Buscar por Data" style="float: right; margin-bottom: 1em;">
	<table class="table table-bordered">
		<thead>
			<th>data</th>
			<th>valor inicio</th>
			<th>entradas</th>
			<th>saidas</th>
			<th>total</th>
		</thead>
		<tbody id="table">
			<% @cashes.each do |cash| %>
			<tr>
				<td><%= datebr(cash.created_at) %></td>	
				<td><%= moneybr(cash.start) %></td>
				<td><%= moneybr(cash.sales_total) %></td>
				<td><%= moneybr(cash.expenses_total) %></td>
				<td><%= moneybr(cash.total) %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>

<script type="text/javascript">
	$(function(){
	    $("#search").keyup(function(){
	        var texto = $(this).val();
	        $("#table tr").css("display", "table-row");
	        $("#table tr").each(function(){
	            if($(this).text().toUpperCase().indexOf(texto.toUpperCase()) < 0)
   				   $(this).css("display", "none");
	        });
	    });
	});
</script>