<div class="label">
	<span>Adicionar Item</span>
</div>

<div class="sale">

	<div class="form-group">
	<%= label_tag :sku %>
	<%= text_field_tag :sku, @item.product.sku, :disabled=>true, class: 'form-control' %>
	</div>

	<div class="form-group">
	<%= label_tag :produto %>
	<%= text_field_tag :product, @item.product.name, :disabled=>true, class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= label_tag :preço %>
		<%= text_field_tag :price, number_to_currency(@item.product.price), :disabled=>true, class: 'form-control' %>
	</div>

	<div style="visibility: hidden;"><%= text_field_tag :value, @item.product.price %></div>


	<%= form_tag add_sale_item_path(@sale, @item), method: :post do %>
		<div class="form-group">
			<%= label_tag :quantidade %>
			<%= number_field_tag :amount, 1, class: 'form-control' %>
		</div>

		<div class="form-group">
			<%= label_tag 'Desconto R$' %>
			<%= text_field_tag :discount, 0, class: 'form-control' %>
		</div>

		<div class="form-group">
			<%= button_to :incluir, nil, class: 'btn btn-success' %>
		</div>
	<% end %>
	
</div>