<div class="label">
	<span><%= @title %></span>
</div>

<div class="container-big">
	<% if @type == 'debts' %>
		<div>
			<p><%= link_to 'Nova conta a Pagar', expenses_new_debt_path, class: 'btn btn-primary' %></p>
		</div>
	<% end %>

	<table class="table table-bordered">
		<thead>
			<th>data</th>
			<th>usuário</th>
			<th>descrição</th>
			<th>valor</th>
			<% if @type == 'debts' %>
				<th>vencimento</th>
				<th></th>
			<% end %>
			<th></th>
			<th></th>
		</thead>
		<tbody>
			<% @expenses.each do |expense| %>
			<tr>
				<td><%= datebr(expense.created_at) %></td>
				<td><%= expense.user.email %></td>
				<td><%= expense.description %></td>
				<td><%= moneybr(expense.total) %></td>
				<% if @type == 'debts' %>
					<td><%= datebr(expense.due_date) %></td>
					<td class="buttons"><%= link_to 'pagar', pay_expense_path(expense), class: 'btn btn-primary', data:{confirm: 'Registrar pagamento desta conta?'} %></td>
				<% end %>
				<td class="buttons"><%= link_to 'excluir', expense_path(expense), method: :delete, class: 'btn btn-danger', data:{confirm: 'Deseja excluir esta conta?'} %></td>
				<td class="buttons"><%= link_to 'editar', edit_expense_path(expense), class: 'btn btn-warning' %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<div style="float: right;">
		<%= label_tag :total %>
		<%= text_field_tag :total, moneybr(@total), :disabled=>true %>
	</div>
</div>