<div>
	<table class="table table-bordered">
		<thead>
			<th>Produto</th>
			<th>Quatidade</th>
			<th>Valor</th>
			<th>Desconto R$</th>
			<th>Total</th>
		</thead>
		<% @items.each do |item| %> 
			<tbody>
				<tr>
					<td><%= item.product.name %></td>
					<td><%= item.amount %></td>
					<td><%= number_to_currency item.product.price %></td>
					<td><%= number_to_currency item.discount %>	</td>
					<td><%= number_to_currency item.price %></td>
					<td id="hide"><%= button_to 'Remover', sale_item_path(@sale, item), method: :delete, class: 'btn btn-danger', data:{confirm: 'deseja remover esse item?'} %></td>
				</tr>
			</tbody>
		<% end %>
	</table>

		<div style="padding-left: 70%; smargin-bottom: 2em;">
			<span><%= label_tag :total %></span>
			<span><%= text_field_tag :total, number_to_currency(@sale.total), :disabled=>true %></span>	
		</div>
</div>