<!DOCTYPE html>
<html>
  <head>
    <title>Audaz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="">
      <div class="">
        <div id="barra_de_logo">
          <p class="logo"><%= link_to (image_tag "logo.png", :width => "280px", :height => "90px"), root_path %></p>
        </div>
      </div>
    </div>

    <div class="container-primary">
      <div class="">
        <input type="checkbox" id="bt_menu">
        <label for="bt_menu">&#9776;</label>

        <nav class="menus"> <!-- Menu de Navegação -->
          <ul>

            <li><a href="">Clientes</a>
              <ul>
                <li><%= link_to "Novo Cliente", new_client_path %></li>
                <li><%= link_to "Meus Clientes", clients_path %></li>
                <li><%= link_to "Aniversariantes", clients_report_birthday_path %></li>
              </ul>
            </li>
            <li><a href="">Estoque</a>
              <ul>
                <li><%= link_to 'Novo Produto', new_product_path %></li>
                <li><%= link_to 'Meu Estoque', products_path %></li>
              </ul>
            </li>
            <li><a href="">Caixa</a>
              <ul>
                <li><%= link_to 'Novo Produto' %></li>
              </ul>
            </li>
            <li><a href="">Relatorios</a>
              <ul>
                <li><%= link_to 'Todas Vendas' %></li>
              </ul>
            </li>
            <li><a href="">Usuários</a>
              <ul>
                <li><%= link_to 'Alterar Senha' %></li>
              </ul>
            </li>
          </ul>

        </nav> <!-- fim do Menu -->
      </div>

      <% if flash[:notice] %>
        <br>
        <div class="alert alert-info" role="alert">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <% if @message != '' %>
        <br>
        <div class="alert alert-danger" role="alert">
          <%= @message %>
        </div>
      <% end %>
      <%= yield %>
    </div>

    <footer class="page-footer font-small black">

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">
        © Todos os direitos Reservados: Audaz Multimarcas
      </div>
      <!-- Copyright -->

    </footer>
   
  </body>
</html>
