<!DOCTYPE html>
<html>
  <head>
    <title>Audaz Multi Marcas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div id="barra_de_logo">
          <p class="logo"><%= link_to (image_tag "logo.png", :width => "280px", :height => "90px"), root_path %></p>
          <% if signed_in? %>
            <div class="user">
              <span style="font-size: 1.2em;"><%= current_user.email %></span>
              <span><%= link_to (image_tag 'logoff.png', :width => '30px'), destroy_user_session_path, method: :delete, data: {confirm: 'Encerrar sessão? Lembre-se de fechar o caixa ao fim do expediente!'} %></span>
            </div>
          <% end %>
          
        </div>
      </div>
    </div>

    <div class="container-primary">
      <div class="">
        <input type="checkbox" id="bt_menu">
        <label for="bt_menu">&#9776;</label>

        <nav class="menus"> <!-- Menu de Navegação -->
          <ul>
            <% if signed_in? %>
            <li><a href="">Clientes</a>
              <ul>
                <li><%= link_to "Novo Cliente", new_client_path %></li>
                <li><%= link_to "Meus Clientes", clients_path %></li>
                <li><%= link_to "Aniversariantes", clients_report_birthday_path %></li>
              </ul>
            </li>
            <li><a href="">Estoque</a>
              <ul>
                <li><%= link_to 'Novo Produto', new_product_path %></li>
                <li><%= link_to 'Meu Estoque', products_path %></li>
              </ul>
            </li>
            <li><a href="">Caixa</a>
              <ul>
                <li><%= link_to 'Nova Venda', new_sale_path, data:{confirm: 'Deseja registrar uma nova venda?'} %></li>
                <li><%= link_to 'Nova despesa', expenses_new_expense_path %></li>
                <li><%= link_to 'Vendas do dia', sales_today_path %></li>
                <li><%= link_to 'Despesas do dia', expenses_today_path %></li>
                <li><%= link_to 'Contas a Receber', sales_pending_path %></li>
                <li><%= link_to 'Contas a pagar', expenses_debts_path %></li>
                <li><%= link_to 'Caixa do dia', cashes_today_path %></li>
              </ul>
            </li>
            <li><a href="">Relatorios</a>
              <ul>
                <li><%= link_to 'Vendas por periodo', reports_sales_report_path %></li>
                <li><%= link_to 'Despesas p/ periodo', reports_expenses_report_path %></li>
                <li><%= link_to 'Resumo p/ periodo', reports_resume_report_path %></li>
                <li><%= link_to 'Vendas p/ Vendedor', reports_salesman_report_path %></li>
                <li><%= link_to 'Inventário', reports_inventory_report_path %></li>
                <li><%= link_to 'Qtde Estoque', reports_amount_report_path %></li>
                <li><%= link_to 'Caixas fechados', cashes_path %></li>
              </ul>
            </li>
            <li><a href="">Usuários</a>
              <ul>
                <li><%= link_to 'Alterar Senha', edit_user_path(current_user) %></li>
              </ul>
            </li>
            <% end %>
          </ul>
        </nav> <!-- fim do Menu -->
      </div>

      <% if flash[:notice] %>
        <br>
        <div class="alert alert-info" role="alert">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <% if @message != '' %>
        <br>
        <div class="alert alert-danger" role="alert">
          <%= @message %>
        </div>
      <% end %>
      <%= yield %>
    </div>

    <footer class="page-footer font-small black">

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">
        © Todos os direitos Reservados: Audaz Multimarcas
      </div>
      <!-- Copyright -->

    </footer>
   
  </body>
</html>
